##--------------------------------------------------------------------
## Cluster
##--------------------------------------------------------------------

## Cluster name
cluster.name = ekka

## Cluster discovery strategy: manual | static | mcast | dns | etcd | k8s
cluster.discovery = manual

## Cluster Autoheal: on | off
cluster.autoheal = on

## Clean down node of the cluster
cluster.autoclean = 5m

##--------------------------------------------------------------------
## Cluster with static node list

## cluster.static.seeds = ekka1@127.0.0.1,ekka2@127.0.0.1

##--------------------------------------------------------------------
## Cluster with multicast

## cluster.mcast.addr = 239.192.0.1

## cluster.mcast.ports = 4369,4370

## cluster.mcast.iface = 0.0.0.0

## cluster.mcast.ttl = 255

## cluster.mcast.loop = on

##--------------------------------------------------------------------
## Cluster with DNS

## cluster.dns.name = localhost

## cluster.dns.app  = ekka

##--------------------------------------------------------------------
## Cluster with Etcd

## cluster.etcd.server = http://127.0.0.1:2379

## cluster.etcd.prefix = ekkacluster

## cluster.etcd.node_ttl = 1m

##--------------------------------------------------------------------
## Cluster with k8s

## cluster.k8s.apiserver = http://10.110.111.204:8080

## cluster.k8s.service_name = ekka

## Address Type: ip | dns
## cluster.k8s.address_type = ip

## The Erlang application name 
## cluster.k8s.app_name = ekka

